<app-navbar></app-navbar>
<div class="container-fluid"  style="background: darksalmon; margin-top: 200px">
  <div class="container">
    <h1 class="text-center">What is FruitStack?</h1>
    <h3>
      This is a small pet project about fruits.
      Made for educational purposes only.
      To study the work of a client-server web application and understand how to work with Api`s. <br>
      Using technologies such as:
    </h3>
    <h2 class="inline"> Server - </h2>
    <h3 class="inline"> .Net </h3><br>
    <h2 class="inline"> Api`s - </h2>
    <h3 class="inline" >
      Fruityvice
      <a href="https://www.fruityvice.com/#2">(https://www.fruityvice.com)</a>,
      Unsplash
      <a href="https://unsplash.com/developers">(https://unsplash.com)</a>
    </h3><br>
    <h2 class="inline"> Client - </h2>
    <h3 class="inline"> Angular, Bootstrap </h3>
    <h1></h1>
    <h3>
      I will leave all the source code and documentation for it on my github. <br>
      <a href="https://github.com/ChaklunIvan/FruitStack">(https://github.com/ChaklunIvan/FruitStack)</a>
    </h3>
  </div>
</div>

