.center-cropped {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  cursor: pointer;
}

h3{
  font-family: "Georgia";
  color: azure;
}

p{
  font-family: Georgia, "Lucida Console", monospace;
  font-size: 18px;
  color: azure;
}

.center-cropped-2 {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  scale: 0.7;
  cursor: pointer;
}

.img-hover:hover{
  scale: 1.2;
}
